@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'Obstow';
    src: url('fonts/OBSTOW_BOLD.woff2') format('woff2'),
         url('fonts/OBSTOW_BOLD.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vinograd-Filled';
    src: url('fonts/TMVINOGRAD-FILLED.woff2') format('woff2'),
         url('fonts/TMVINOGRAD-FILLED.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vinograd-Regular';
    src: url('fonts/TMVINOGRAD-REGULAR.woff2') format('woff2'),
         url('fonts/TMVINOGRAD-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vinograd-FB';
    src: url('fonts/TMVINOGRAD-FILLEDOBLIQUE.woff2') format('woff2'),
         url('fonts/TMVINOGRAD-FILLEDOBLIQUE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --brown-dark: #4b2c20;
    --brown-accent: #8c5a3c;
    --beige: #f4ece4;
    --beige-light: #eaddca;
}

* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    font-family: 'Obstow', Arial, sans-serif;
}

.container { 
    margin: 0 auto; 
    padding: 40px 20px;
    max-width: 1405px;
}

.hero {
    background-image: url('png/main-photo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    padding: 20px 50px;
    text-shadow: 4px 4px 4px #663016
}

header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav {
    margin-left: -50px;
}

nav a { 
    color: #E3CBA9; 
    text-decoration: none; 
    margin: 0 35px; 
    font-weight: bold;
    font-family: 'Obstow', Arial, sans-serif;
    font-size: 20px;
}

.nav-link-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 6px; 
    filter: drop-shadow(4px 4px 4px #663016);
}

.nav-link-with-icon svg{
    margin-top: 8.2px;
}


.Logo {
    display: flex;
    filter: drop-shadow(4px 2px 2px #663016);
}

.nav-link-with-icon:hover .icon-arrow {
    transform: translateY(3px);
}

.cart-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    filter: drop-shadow(4px 4px 4px #663016);
    margin-right: 30px;
    margin-top: 0px;
}

.cart-btn:hover {
    transform: scale(1.05);
}

svg {
    pointer-events: none;
}

.hero-content { 
    margin-top: 100px; 
    max-width: 1000px; 
    color: #E3CBA9;
    margin-left: 20px;
}

.hero-content h1 { 
    font-family: 'Vinograd-Filled'; 
    font-size: 70px; 
    line-height: 1.1; 
    color: #E3CBA9;
    font-weight: 10;
}

.hero-content p {
    font-size: 27px;
    max-width: 600px;
    margin-top: -20px;
    font-weight: 10;
}

.btn-main { 
    background: #984F2C; 
    border: none; 
    color: white;
    padding: 12px 40px; 
    border-radius: 500px; 
    font-weight: bold; 
    cursor: pointer;
    margin-top: 20px; 
    font-size: 30px;
    transition: background 0.3s ease;
    font-family: 'Obstow', Arial, sans-serif;
    text-shadow: 4px 4px 4px #663016;
    box-shadow: 4px 4px 4px #663016;
}

.btn-main:hover {
    background: #6e432a;
}

.title-decor {  
    text-decoration: underline; 
    margin-top: 20px;
    text-underline-offset: 8px;
    letter-spacing: 2px; 
    margin-bottom: 60px; 
    font-size: 70px;
    font-family: 'Vinograd-Filled';
    font-weight: 500;
    color: #663016;;
}

.catalog-grid { 
    display: grid; 
    gap: 40px 20px; 
    margin-top: -20px; 
}

.catalog-grid .cat-card:nth-child(1) { grid-column: 1 ; grid-row: 1; } /* ХЛЕБ */
.catalog-grid .cat-card:nth-child(2) { grid-column: 2; grid-row: 1; } /* ПЕЧЕНЬЕ */
.catalog-grid .cat-card:nth-child(3) { grid-column: 3; grid-row: 1; } /* ВЫПЕЧКА */


.cat-card { 
    /* background-color: var(--brown-dark); */ /* УБРАН КОРИЧНЕВЫЙ ФОН */
    background-color: transparent; /* Сделать фон прозрачным. */
    height: 300px; /* Задаем высоту карточки, чтобы изображение было видимым. */
    position: relative;
    display: flex; 
    align-items: flex-end; /* Это сохраняет текст внизу. */
    padding: 15px;
    /* border-radius: 8px; */ /* BORDER-RADIUS ТЕПЕРЬ НЕ НУЖЕН БЕЗ ФОНА */
    overflow: visible; /* Чтобы изображения были видимы, даже если контейнер меньше. */
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1; /* Чтобы текст был выше изображения. */
}

.cat-card:hover { transform: translateY(-5px); }

.cat-img { 
    position: center; /* Делаем фоном контейнера */
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    object-fit: contain;
    z-index: 1;
}

/* === ШАГИ === */
.steps-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Vinograd-Filled';
    font-size: 70px;
    color: #663016;
    margin-bottom: 5px;
    font-weight: normal;
    margin-top: -40px;
}

.steps-title::before,
.steps-title::after {
    content: "";
    display: block;
    flex: 0 1 150px;
    height: 2px;
    background-color: #663016;
}

.steps-subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #663016;
}

.steps-grid {
    display: grid;
    gap: 40px 80px;
    margin-left: 300px;
}

.steps-grid .step-item:nth-child(1) { grid-column: 1 ; grid-row: 1; }
.steps-grid .step-item:nth-child(2) { grid-column: 2; grid-row: 1; }
.steps-grid .step-item:nth-child(3) { grid-column: 1; grid-row: 2; }
.steps-grid .step-item:nth-child(4) { grid-column: 2; grid-row: 2; }

.step-item {
    display: flex;
    flex-direction: column;
}

.step-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.step-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: var(--brown-accent);
    color: white;
    border-radius: 50%;
    font-family: 'Vinograd-Filled';
    font-size: 50px;
    flex-shrink: 0;
}

.step-header h3 {
    font-family: 'Vinograd-Filled';
    font-size: 70px;
    color: #663016;
    margin: 0;
    font-weight: normal;
}

.step-item p {
    margin-left: 5px;
    margin-top: 0px;
    font-size: 35px;
    line-height: 1.1;
    color: var(--brown-accent);
    font-weight: bold;
    white-space: nowrap; 
}

.step-item:nth-child(1) {
    transform: translateX(-260px); 
}

.step-item:nth-child(2) {
    transform: translateX(0px);  
}

.step-item:nth-child(3) {
    transform: translateX(-150px);  
}

.step-item:nth-child(4) {
    transform: translateX(-120px); 
}


.about-section { 
    background: var(--brown-dark); 
    height: 650px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about-content {
    position: relative;
    z-index: 10;
    width: 55%;
    margin-right: 5%;
}

.about-content h2 { 
    font-family: 'Vinograd-Filled', sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #9F6A4A;
    margin-bottom: 30px;
    margin-left: -400px;
    margin-top: -70px;
}

.about-text-wrapper {
    position: relative;
}

.about-content p {
    line-height: 1.2;
    color: #E3CBA9;
    font-size: 28px;
    max-width: 600px;
    margin-left: -300px;
    text-shadow: 4px 4px 4px #663016
}

.about-frog {
    position: absolute;
    bottom: -350px;
    left: -50px;
    z-index: -1;
    margin-left: -500px;
}

.about-background-images img {
    position: absolute;
    object-fit: cover;
}

.img-bg-1 { 
    width: 500px;
    height: 400px; 
    top: 50px;
    left: -50px;
    z-index: 1;
    transform: rotate(-3deg);
    margin-left: 1100px;
}

.img-bg-2 { 
    width: 350px; 
    bottom: 50px; 
    left: 250px;
    z-index: 2;
    transform: rotate(2deg);
    margin-left: 600px;
}

.locations { 
    display: flex; 
    background: #fff; 
    padding: 0 10%; 
    gap: 0; 
    height: 650px; 
    overflow: hidden;
}

.loc-image { 
    flex: 0 0 40%;
    height: 100%; 
    z-index: 1;
    margin-left: -70px;
}

.loc-image img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block;
    border-radius: 0; 
}

.loc-content { 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    position: relative;
    z-index: 2;
}

.loc-title {
    font-family: 'Vinograd-Filled', sans-serif;
    font-size: 65px; 
    color: #663016;
    line-height: 1;
    font-weight: normal;
    margin: 40px 0 50px 20px; 
}

.loc-info-box {
    background: #e5d1b8;
    padding: 30px 40px; 
    margin-left: -80px; 
    border-radius: 0;
    box-shadow: none; 
}

.loc-item { 
    margin-bottom: 25px; 
}

.loc-item:last-child {
    margin-bottom: 0;
}

.loc-item h3 { 
    font-family: 'Vinograd-Filled', sans-serif;
    font-size: 45px; 
    color: #663016;
    margin: 0 0 5px 0; 
    font-weight: normal;
}

.loc-item p {
    font-family: 'Obstow', Arial, sans-serif;
    font-size: 20px; 
    color: #663016;
    margin: 3px 0;
    line-height: 1.2;
}

.footer { 
    background: var(--brown-dark); 
    color: white; 
    padding: 50px 10%; 
    display: flex; 
    justify-content: space-between;
}

.f-logo { 
    font-family: 'Vinograd-Regular'; 
    font-size: 70px; 
    margin-bottom: 10px;
    margin-left: -70px;
    margin-top: -10px;
    color: #E3CBA9;
}

.footer-main p {
    margin: 5px 0;
    opacity: 0.9;
    font-family: 'Vinograd-Regular'; 
    font-size: 50px;
    margin-left: -70px;
    color: #E3CBA9;
}

.f-links { 
    display: flex; 
    flex-direction: column;  
}

.f-links h4 { 
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #E3CBA9;
}

.f-links a { 
    color: white; 
    text-decoration: none; 
    margin-bottom: 8px; 
    opacity: 0.8;
    transition: opacity 0.3s;
    font-size: 25px;
    color: #E3CBA9;
}

.f-links a:hover {
    opacity: 1;
}

.f-socials {
    margin-top: 15px;
    font-size: 1.5rem;
    display: flex;
    gap: 15px;
    margin-left: -70px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    margin-top: 10px;
    margin-left: -10px;
    
    opacity: 0;
    visibility: hidden;
    display: flex;
    transform: translateY(10px);
    transition: all 0.3s ease;
    
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #E3CBA9;
    border: 2px solid #663016;
    min-width: 180px;
    z-index: 100;
    flex-direction: column;
    padding: 10px 0;
}

.dropdown-menu a{
    color: #663016;
    text-shadow: 0px 0px 0px #663016
    
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu a {
    color: #663016;
    font-family: 'Obstow', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    filter: none;
    transition: background-color 0.2s ease;
    
    position: relative; 
    display: flex;
    align-items: center;
}

.dropdown-menu a:hover {
    background-color: #d1b791;
}

.dropdown-menu a:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%; /* Поправил на 10%, чтобы было симметрично */
    height: 2px;
    background-color: #663016;
    opacity: 0.3;
}

.nav-link-with-icon svg {
    transition: transform 0.3s ease;
}

.dropdown:hover .nav-link-with-icon svg {
    transform: rotate(180deg);
}


html {
    scroll-behavior: smooth;
}